VITE_API_URL=https://example.com/api/v1
#пс... ми ж нікому не скажемо що це гра слів Kasane Teto + Sandrone?
VITE_APP_NAME=Tetrone
VITE_MAX_FILE_SIZE_KB=10240

VITE_REVERB_APP_KEY=key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http