VITE_API_URL=https://localhost:8000/api
VITE_BACKEND_URL=http://localhost:8000
#пс... ми ж нікому не скажемо що це гра слів Kasane Teto + Sandrone?
VITE_APP_NAME=Tetrone
VITE_MAX_FILE_SIZE_KB=20480

VITE_WS_URL=http://127.0.0.1:3000

VITE_ENABLE_STICKERS=true